@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

body {
  font-family: var(--font);
}

@theme {
  --font: "Space Mono", monospace;

  --primary: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
  --protein: #3b82f6;
  --carbs: #f59e0b;
  --fat: #ec4899;
  --bg-primary: #f0f4f4;
  --bg-secondary: #f5f5f5;
  --bg-tertiary: oklch(87.2% 0.007 219.6);

  --dark-bg-primary: #212529;
  --dark-bg-secondary: #343a40;
  --dark-bg-tertiary: #495057;
  --dark-bg-quaternary: #6c757d;
}

@custom-variant dark (&:where(.dark, .dark *));

.rdp-root {
  --rdp-accent-color: var(--primary);
  --rdp-accent-background-color: var(--bg-primary);
}

.dark .rdp-root {
  --rdp-accent-color: var(--primary);
  --rdp-accent-background-color: var(--dark-bg-secondary);
  --rdp-selected-border: 2px solid var(--primary);
}

.rdp-selected .rdp-day_button {
  background-color: var(--rdp-accent-color);
  color: white;
}
